body {
    background: #fff;
    min-width: 343px;
}

#beaker {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

#graph {
    position: absolute;
    top: 5px;
    left: 150px;
}

/* Particle table */
#particle-table {
    position: absolute;
    left: 100px;
    top: 380px;
}

#particle-table td {
    text-align: center;
    vertical-align: middle;
    padding: 4px;
}

#particle-table div.particle {
    position: relative;
    height: 40px;
}

#particle-table div.particle img.proton {
    position: absolute;
    left: 26px;
    top: 0;
}

#particle-table .label {
    margin: 0 0.2em;
}

#num-acids {
    margin: 0 0.2em;
}

#num-conjugate-bases {
    margin: 0 0.2em;
}

/* Proton slider */
input[type="range"] {
    width: 300px;
    height: 25px;
    transform: rotate(270deg);
    position: absolute;
    top: 200px;
    left: -100px;
    visibility: visible;
}

input[type="range"]::-moz-range-track {
    padding: 0 10px;
    background:
        repeating-linear-gradient(
            to right,
            #ccc,
            #ccc 5%,
            #000 5%,
            #000 6%,
            #ccc 6%,
            #ccc 10%
        );
}

#hph-label {
    position: absolute;
    left: 90px;
    top: 10px;
    visibility: visible;
}

#high-label {
    position: absolute;
    left: 90px;
    top: 37px;
    visibility: visible;
}

#low-label {
    position: absolute;
    left: 90px;
    top: 337px;
    visibility: visible;
}

/* pH input */
#ph {
    position: absolute;
    left: 80px;
    top: 205px;
    width: 55px;
    visibility: visible;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
